build
data
.env
env.py
**env.py
*.log
node_modules
.venv/
.build/
yarn.lock
.venv
venv
.idea
.idea/
.idea/*
.idea/**
*env.py
/data/
*.h5
*.keras
*.pkl

.vscode/**
!.vscode/launch.json

# Go build artifacts
*.exe
*.test
*.out

# Go workspace file
go.work
go.work.sum

# Dependency directories (remove the comment below if you use Go modules)
vendor/

# IDE/editor files
*.vscode/
~*.vscode/launch.json
~*.vscode/settings.json
*.swp
*.swo
*.swn
*.bak

# CMake build artifacts
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CTestTestfile.cmake
install_manifest.txt
build/
